# Ignore specific files in data and its subfolders
data/**/*.npy
data/**/*.npz
data/**/*.pkl
data/**/*.keras
# data/**/*.h5
# data/**/*.obj

# Except the data directory itself
!data

# Except for the files to build the 3D models
!data/body_reshaper_files/rfe*
!data/body_reshaper_files/facets_template_3DHBSh.npy
!data/body_reshaper_files/measurements_*.npy
!data/body_reshaper_files/def2vert_*.npz
!data/body_reshaper_files/cp_*male.pkl
!data/datasets/*TOTAL*

data/obj_files/obj_database_*/**/*.obj
data/datasets/silhouettes_blender*/silhouettes_*/**/**/*.png

# Ignore compiled Python files and cache directories
__pycache__/*
*.pyc